<ion-view>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div>
          <h1>Login</h1>
        </div>
        <div class="image">
          <img src="img/01.png" alt="">
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Your Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Your Password">
            </label>
        </form>
        <button class="button button-calm button-block ">Go!!</button>
    </ion-content>
</ion-view>
