/**

#  CopyRight:       Catalina Meneses
#  Date:            12-2015

*/

/*

#      INDICE

#      1. General

*/


/*
==========================================
#                General
==========================================
*/
h1 {
  color: #4a4a4a;
  text-align: center;
  margin: 10px;
}

.image {
  text-align: center;
  margin: 30px;
  img {
    width: 50%;
    border-radius: 50%;
  }
}
